[Container]
ContainerName=authelia
Image=docker.io/authelia/authelia:latest
AutoUpdate=registry
Environment=PUID=1000 PGID=1000 TZ=Europe/Berlin

PublishPort=9091:9091

HealthCmd=curl http://localhost:9091
HealthOnFailure=kill

Volume=/etc/localtime:/etc/localtime:ro
Volume=%h/containers/storage/authelia:/config
GroupAdd=keep-groups

[Service]
Restart=always

[Install]
WantedBy=default.target