[Container]
ContainerName=gitea
Image=docker.io/gitea/gitea:latest
AutoUpdate=registry
Environment=PUID=0 PGID=0 TZ=Europe/Berlin

PublishPort=3000:3000
PublishPort=10022:22

HealthCmd=curl http://localhost:3000
HealthOnFailure=kill

Volume=/etc/localtime:/etc/localtime:ro
Volume=%h/containers/storage/gitea:/data
GroupAdd=keep-groups

[Service]
Restart=always

[Install]
WantedBy=default.target