[Container]
Pod=media.pod
ContainerName=plex
Image=ghcr.io/hotio/plex:latest
AutoUpdate=registry
Environment=PUID=0 PGID=0 TZ=Europe/Berlin

HealthStartPeriod=40s
HealthCmd=curl http://localhost:32400
HealthOnFailure=kill

Label=proxy-manager.enable=true
Label=proxy-manager.port=32400

Volume=/etc/localtime:/etc/localtime:ro
Volume=%h/containers/storage/plex:/config
Volume=/data/media:/data/media
Volume=/data/media_old:/data/media_old
Volume=/data/jonathan/music:/data/jonathan/music
GroupAdd=keep-groups

# Ramdisk / hardware acceleration
Tmpfs=/transcode
AddDevice=nvidia.com/gpu=all
Environment=NVIDIA_VISIBLE_DEVICES=all NVIDIA_DRIVER_CAPABILITIES=compute,video,utility

# Setup with claim token (required for first run)
#Environment=PLEX_CLAIM=claim-token

[Service]
Restart=always
